<footer
  class="border-t border-hero-dark-600 bg-hero-dark-800 py-8 text-hero-light">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <!-- Quick Links -->
      <div>
        <h3 class="mb-4 text-lg font-semibold">Quick Links</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/"
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/catalogue  "
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >Cards catalogue</a
            >
          </li>
          <li>
            <a
              href="/builder"
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >Create your own card</a
            >
          </li>
        </ul>
      </div>

      <!-- Information -->
      <div>
        <h3 class="mb-4 text-lg font-semibold">Information</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/about"
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >About HeroQuest Cards</a
            >
          </li>
          <li>
            <a
              href="/pricing"
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >Pricing</a
            >
          </li>
          <li>
            <a
              href="/privacy"
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              href="/tos"
              class="cursor-pointer text-hero-light-300 transition-colors hover:text-hero-light"
              >Terms of Service</a
            >
          </li>
        </ul>
      </div>

      <!-- Contact -->
      <div>
        <h3 class="mb-4 text-lg font-semibold">Contact</h3>
        <p class="text-hero-light-300">We'd love to hear your suggestions!</p>
        <a
          href="mailto:contact&#64;heroquestcards.com"
          class="text-hero-primary hover:text-hero-accent">
          contact&#64;heroquestcards.com</a
        >

        <a href="https://ko-fi.com/angusin" target="_blank"
          ><img
            height="36"
            style="border: 0px; height: 36px"
            src="https://storage.ko-fi.com/cdn/kofi2.png?v=6"
            border="0"
            alt="Buy Me a Coffee at ko-fi.com"
            class="mt-4"
        /></a>
      </div>
    </div>

    <!-- Copyright -->
    <div
      class="mt-6 border-t border-hero-dark-600 pt-6 text-center text-hero-light-300">
      <p>&copy; {{ currentYear }} HeroQuest Cards. All rights reserved.</p>
    </div>
  </div>
</footer>
