<section class="mb-8 px-0">
  <div
    class="mx-auto grid max-w-screen-lg justify-items-center gap-8 md:grid-cols-2">
    <div class="mt-0 h-fit w-full rounded-lg bg-hero-dark-700 p-6 shadow">
      <h1 class="text-center text-2xl font-semibold text-hero-light">
        Monster Card Creator
      </h1>
      <div class="mb-4 mt-2 space-y-2 border-t border-hero-dark-600"></div>
      <app-card-builder-form
        (monsterNameChange)="onMonsterNameChange($event)"
        (movementSquaresChange)="onMovementSquaresChange($event)"
        (attackDiceChange)="onAttackDiceChangeChange($event)"
        (defendDiceChange)="onDefendDiceChangeChange($event)"
        (bodyPointsChange)="onBodyPointsChangeChange($event)"
        (mindPointsChange)="onMindPointsChangeChange($event)"
        (descriptionInputChange)="onDescriptionInputChange($event)"
        (monsterImageUpload)="onMonsterImageUpload($event)"
        (monsterIconUpload)="onMonsterIconUpload($event)" />
      <div class="my-4 space-y-2 border-t border-hero-dark-600"></div>
      <div class="flex justify-end">
        <app-button
          class="mr-2"
          [text]="'Download card'"
          [color]="'primary'"
          [size]="'medium'"
          [iconName]="'download'"
          (buttonClick)="onDownloadCard()"></app-button>
        <app-button
          [text]="'Save to collection'"
          [color]="'primary'"
          [size]="'medium'"
          [iconName]="'save'"
          [disabled]="true"
          (buttonClick)="onDownloadCard()"></app-button>
      </div>
    </div>

    <div class="stage-parent w-full overflow-hidden">
      @if (isBrowser) {
        <app-card-builder-canvas
          [monsterNameInput]="monsterNameInput"
          [movementSquaresInput]="movementSquaresInput"
          [attackDiceInput]="attackDiceInput"
          [defendDiceInput]="defendDiceInput"
          [bodyPointsInput]="bodyPointsInput"
          [mindPointsInput]="mindPointsInput"
          [descriptionInput]="descriptionInput"
          [monsterImage]="monsterImage"
          [monsterIcon]="monsterIcon" />
      }
    </div>
  </div>
</section>
