<div
  class="border-hero-dark-600 bg-hero-dark-800 fixed start-0 top-0 z-20 h-16 w-full border-b">
  <nav class="mx-auto max-w-screen-2xl px-4 py-2.5 md:px-8">
    <div class="flex flex-wrap items-center justify-between">
      <div class="flex items-center justify-start">
        <!-- LOGO -->
        <a href="/" class="mr-4 flex items-center justify-between">
          <img [src]="'assets/hq_logo.png'" width="40" alt="" />
          <span
            class="text-hero-light ml-3 block self-center whitespace-nowrap text-2xl font-semibold sm:hidden">
            HQ Cards
          </span>
          <span
            class="text-hero-light ml-3 hidden self-center whitespace-nowrap text-2xl font-semibold sm:block">
            HeroQuest Cards
          </span>
        </a>
      </div>
      <div class="flex items-center lg:order-2">
        <!-- CREATE CARD BUTTON -->
        <button
          [routerLink]="['/builder']"
          type="button"
          class="bg-hero-primary text-hero-dark hover:bg-hero-accent focus:ring-hero-accent/50 me-2 mr-2 flex cursor-pointer items-center rounded-lg px-3 py-2.5 text-center text-sm font-medium focus:outline-none focus:ring-4">
          Create card
        </button>

        <!-- USER MENU BUTTON -->
        <button
          type="button"
          class="bg-hero-dark-800 focus:ring-hero-dark-600 mx-3 flex cursor-pointer rounded-full text-sm focus:ring-4 md:mr-0"
          id="user-menu-button"
          aria-expanded="false"
          data-dropdown-toggle="dropdown">
          <span class="sr-only">Open user menu</span>
          <img
            class="h-8 w-8 rounded-full"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
            alt="user photo" />
        </button>

        <!-- USER DROPDOWN -->
        <div
          class="divide-hero-dark-600 bg-hero-dark-700 z-50 my-4 hidden w-56 list-none divide-y rounded text-base shadow"
          id="dropdown">
          <div class="px-4 py-3">
            <span class="text-hero-light block text-sm font-semibold"
              >Neil Sims</span
            >
            <span class="text-hero-light-200 block truncate text-sm"
              >'name arroba flowbite.com'</span
            >
          </div>
          <ul class="text-hero-light-200 py-1" aria-labelledby="dropdown">
            <li>
              <a
                href="#"
                class="text-hero-light-200 hover:bg-hero-dark-600 hover:text-hero-light block px-4 py-2 text-sm"
                >My profile</a
              >
            </li>
            <li>
              <a
                href="#"
                class="text-hero-light-200 hover:bg-hero-dark-600 hover:text-hero-light block px-4 py-2 text-sm"
                >Account settings</a
              >
            </li>
          </ul>
          <ul class="text-hero-light-200 py-1" aria-labelledby="dropdown">
            <li>
              <a
                href="#"
                class="hover:bg-hero-dark-600 hover:text-hero-light flex items-center justify-between px-4 py-2 text-sm">
                <span class="flex items-center">
                  <svg
                    aria-hidden="true"
                    class="text-hero-primary mr-2 h-5 w-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z"
                      clip-rule="evenodd"></path>
                  </svg>
                  Pro version
                </span>
                <svg
                  aria-hidden="true"
                  class="text-hero-light-400 h-5 w-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
            </li>
          </ul>
          <ul class="text-hero-light-200 py-1" aria-labelledby="dropdown">
            <li>
              <a
                href="#"
                class="hover:bg-hero-dark-600 hover:text-hero-light block px-4 py-2 text-sm"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
        <!-- END USER DROPDOWN -->
      </div>
    </div>
  </nav>
</div>
