<form>
  <div class="mb-4 grid grid-cols-2 gap-4">
    <!-- First Column -->
    <div class="space-y-4">
      <div>
        <label
          for="monster-name"
          class="mb-2 block text-sm font-medium text-white"
          >Monster Name</label
        >
        <input
          type="text"
          id="monster-name"
          name="monster-name"
          class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-yellow-500 focus:ring-yellow-500"
          placeholder="Enter monster name"
          value="Skeleton King"
          (input)="onMonsterNameChange($event)"
          (paste)="onMonsterNameChange($event)" />
      </div>
      <div>
        <label for="attack" class="mb-2 block text-sm font-medium text-white"
          >Attack Dice</label
        >
        <input
          type="number"
          id="attack"
          name="attack"
          min="1"
          max="9"
          value="6"
          class="mt-1 block w-full rounded-lg border border-gray-600 bg-gray-700 p-2 text-white focus:border-blue-500 focus:ring-blue-500"
          (input)="onAttackDiceChange($event)" />
      </div>
      <div>
        <label for="body" class="mb-2 block text-sm font-medium text-white"
          >Body Points</label
        >
        <input
          type="number"
          id="body"
          name="body"
          min="1"
          max="9"
          value="6"
          class="mt-1 block w-full rounded-lg border border-gray-600 bg-gray-700 p-2 text-white focus:border-blue-500 focus:ring-blue-500"
          (input)="onBodyPointsChange($event)" />
      </div>
    </div>

    <!-- Second Column -->
    <div class="space-y-4">
      <div>
        <label for="movement" class="mb-2 block text-sm font-medium text-white"
          >Movement Squares</label
        >
        <input
          type="number"
          id="movement"
          name="movement"
          min="1"
          max="9"
          value="8"
          class="mt-1 block w-full rounded-lg border border-gray-600 bg-gray-700 p-2 text-white focus:border-blue-500 focus:ring-blue-500"
          (input)="onMovementSquaresChange($event)" />
      </div>
      <div>
        <label for="defend" class="mb-2 block text-sm font-medium text-white"
          >Defend Dice</label
        >
        <input
          type="number"
          id="defend"
          name="defend"
          min="1"
          max="9"
          value="6"
          class="mt-1 block w-full rounded-lg border border-gray-600 bg-gray-700 p-2 text-white focus:border-blue-500 focus:ring-blue-500"
          (input)="onDefendDiceChange($event)" />
      </div>
      <div>
        <label for="mind" class="mb-2 block text-sm font-medium text-white"
          >Mind Points</label
        >
        <input
          type="number"
          id="mind"
          name="mind"
          min="1"
          max="9"
          value="4"
          class="mt-1 block w-full rounded-lg border border-gray-600 bg-gray-700 p-2 text-white focus:border-blue-500 focus:ring-blue-500"
          (input)="onMindPointsChange($event)" />
      </div>
    </div>
  </div>

  <!-- Monster description -->
  <div class="mb-4">
    <label for="description" class="mb-2 block text-sm font-medium text-white"
      >Description<span class="text-xs text-gray-400"> (Optional)</span></label
    >
    <textarea
      id="description"
      rows="4"
      class="block w-full rounded-lg border border-gray-600 bg-gray-700 p-2.5 text-sm text-white placeholder-gray-400 focus:border-blue-500 focus:ring-blue-500"
      placeholder="Write the monster description..."
      (input)="onDescriptionInputChange($event)"
      (paste)="onDescriptionInputChange($event)"></textarea>
  </div>

  <!-- Monster main image -->
  <div class="mb-4">
    <label class="mb-2 block text-sm font-medium text-white" for="monster_image"
      >Monster image<span class="text-xs text-gray-400">
        (.PNG image with transparent background)</span
      >
    </label>
    <input
      id="monster_image"
      class="w-full cursor-pointer rounded-lg border border-gray-600 bg-gray-700 text-sm font-medium text-gray-400 file:mr-4 file:cursor-pointer file:border-0 file:bg-gray-600 file:px-4 file:py-2 file:text-white file:hover:bg-gray-700"
      type="file"
      accept="image/png"
      (change)="onMonsterImageUpload($event)" />
  </div>

  <!-- Monster icon image -->
  <div class="mb-4">
    <label class="mb-2 block text-sm font-medium text-white" for="monster_image"
      >Monster icon<span class="text-xs text-gray-400">
        (.PNG image with transparent background)</span
      ></label
    >
    <input
      id="monster_image"
      class="w-full cursor-pointer rounded-lg border border-gray-600 bg-gray-700 text-sm font-medium text-gray-400 file:mr-4 file:cursor-pointer file:border-0 file:bg-gray-600 file:px-4 file:py-2 file:text-white file:hover:bg-gray-700"
      type="file"
      accept="image/png"
      (change)="onMonsterIconUpload($event)" />
  </div>
</form>
