<div>
  <label
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    for="monster_image"
    >Monster image</label
  >
  <input
    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    id="monster_image"
    type="file"
    accept="image/png"
    (change)="onMonsterImageUpload($event)" />
  <p
    class="mt-1 text-sm text-gray-500 dark:text-gray-300"
    id="monster_image_help">
    * Upload a .PNG image with a transparent background.
  </p>

  <div>
    <label
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      for="monster_icon"
      >Monster icon</label
    >
    <input
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      id="monster_icon"
      type="file"
      accept="image/png"
      (change)="onMonsterIconUpload($event)" />
    <p
      class="mt-1 text-sm text-gray-500 dark:text-gray-300"
      id="monster_icon_help">
      * Upload a .PNG image with a transparent background.
    </p>
  </div>

  <div>
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Descripción</label
    >
    <textarea
      id="description"
      rows="4"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Write your thoughts here..."
      (input)="onDescriptionInputChange($event)"
      (paste)="onDescriptionInputChange($event)"></textarea>
  </div>
</div>
