<form action="#" method="GET" class="md:hidden mb-4">
  <label for="sidebar-search" class="sr-only">Search</label>
  <div class="relative">
    <div
      class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      <svg
        class="w-5 h-5 text-gray-500 dark:text-gray-400"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
      </svg>
    </div>
    <input
      type="text"
      name="search"
      id="sidebar-search"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-yellow-500 dark:focus:border-yellow-500"
      placeholder="Search" />
  </div>
</form>

<h2 class="text-sm font-medium text-gray-500 dark:text-gray-400 mb-2">
  CARD TYPE
</h2>

<div
  class="pt-4 mt-2 space-y-2 border-t border-gray-200 dark:border-gray-700"></div>

<!-- CHECKBOX FILTERS -->
<div class="grid grid-cols-1 gap-2">
  <div class="flex items-center">
    <input
      id="hp"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="hp" class="ml-2 text-base text-gray-900 dark:text-white">
      Monster
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="benq"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="benq" class="ml-2 text-base text-gray-900 dark:text-white">
      Hero
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="rockstar"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="rockstar" class="ml-2 text-base text-gray-900 dark:text-white">
      Artifact
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="hola"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="hola" class="ml-2 text-base text-gray-900 dark:text-white">
      Treasure
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="spell"
      type="checkbox"
      value=""
      class="w-4 h-4 cursor-pointer bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="spell" class="ml-2 text-base text-gray-900 dark:text-white">
      Spell
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="equipment"
      type="checkbox"
      value=""
      class="w-4 h-4 cursor-pointer bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="equipment" class="ml-2 text-base text-gray-900 dark:text-white">
      Equipment
    </label>
  </div>
</div>

<h2 class="text-sm text-gray-500 dark:text-gray-400 mb-2 mt-6">LANGUAGE</h2>

<div
  class="pt-4 mt-2 space-y-2 border-t border-gray-200 dark:border-gray-700"></div>

<!-- CHECKBOX FILTERS -->
<div class="grid grid-cols-1 gap-2">
  <div class="flex items-center">
    <input
      id="english"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="english" class="ml-2 text-base text-gray-900 dark:text-white">
      English
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="spanish"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="spanish" class="ml-2 text-base text-gray-900 dark:text-white">
      Spanish
    </label>
  </div>

  <div class="flex items-center">
    <input
      id="german"
      type="checkbox"
      value=""
      class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-yellow-600 focus:ring-yellow-500 dark:focus:ring-yellow-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />

    <label for="german" class="ml-2 text-base text-gray-900 dark:text-white">
      German
    </label>
  </div>
</div>
