<div class="group">
  <!-- IMAGE -->
  <div class="relative w-full z-10 cursor-pointer">
    <img
      [routerLink]="['/catalogue/detail', cardInfo.id]"
      class="mx-auto shadow-md"
      [src]="cardInfo.imageUrl"
      [alt]="cardInfo.name" />
  </div>

  <!-- CONTENT -->
  <div
    class="shadow-md rounded-b-2xl bg-white p-4 pt-12 dark:bg-gray-800 -translate-y-8">
    <div class="mb-4 flex justify-between items-center">
      <button
        type="button"
        class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>

      <app-card-type-tag [text]="cardInfo.type"></app-card-type-tag>
      <app-favorite-button
        [isFavorite]="cardInfo.isFavorite"></app-favorite-button>
    </div>

    <!-- TITLE -->
    <p class="w-full text-center">
      <a
        [routerLink]="['/catalogue/detail', cardInfo.id]"
        class="text-sm sm:text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">
        {{ cardInfo.name }}
      </a>
    </p>
  </div>
</div>
