<div class="group">
  <!-- IMAGE -->
  <div class="relative w-full z-10">
    <img
      class="mx-auto shadow-md"
      [src]="cardInfo.imageUrl"
      alt="'cardInfo.name'" />
  </div>

  <!-- CONTENT -->
  <div
    class="shadow-md rounded-b-2xl bg-white p-4 pt-12 dark:bg-gray-800 -translate-y-8">
    <div class="mb-2 flex items-center justify-between gap-4">
      <!-- CARD TYPE -->
      <app-card-type-tag [text]="cardInfo.type"></app-card-type-tag>

      <!-- FAVOURITE -->
      <app-favorite-button
        [isFavorite]="cardInfo.isFavorite"></app-favorite-button>
    </div>

    <!-- TITLE -->
    <p class="w-full text-center">
      <a
        href="#"
        class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white"
        >{{ cardInfo.name }}</a
      >
    </p>
  </div>
</div>
