<div class="mb-4">
  <div class="mb-8 flex items-center justify-between">
    <h2 class="text-3xl font-bold text-white">{{ title }}</h2>
    <div class="hidden space-x-2 sm:flex">
      <button
        (click)="scrollLeft()"
        class="rounded-full bg-hero-primary p-2 text-hero-dark shadow-lg transition duration-300 hover:bg-hero-accent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7" />
        </svg>
      </button>

      <button
        (click)="scrollRight()"
        class="rounded-full bg-hero-primary p-2 text-hero-dark shadow-lg transition duration-300 hover:bg-hero-accent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>

  <div class="carousel-container overflow-x-auto scrollbar-hide">
    <div class="flex gap-[18px]">
      <div *ngFor="let card of cards" class="w-[280px] flex-shrink-0">
        <app-card-container [cardInfo]="card"></app-card-container>
      </div>
    </div>
  </div>
</div>
