<div class="mb-4">
  <div class="mb-8 flex items-center justify-between">
    <h2 class="text-3xl font-bold text-white">{{ title }}</h2>
    <div class="hidden space-x-2 sm:flex">
      <button
        (click)="scrollLeft()"
        class="rounded-full bg-hero-primary p-2 text-hero-dark shadow-lg transition duration-300 hover:bg-hero-accent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7" />
        </svg>
      </button>

      <button
        (click)="scrollRight()"
        class="rounded-full bg-hero-primary p-2 text-hero-dark shadow-lg transition duration-300 hover:bg-hero-accent">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>

  <div class="flex justify-center">
    <ul class="carousel-container flex gap-4 overflow-auto scrollbar-hide">
      <li *ngFor="let card of cards" class="w-[280px] flex-shrink-0">
        <app-card-container [cardInfo]="card"></app-card-container>
      </li>
    </ul>
  </div>
</div>

<!-- EJEMPLO OMAR ACELERADORES -->
<!-- <section class="flex justify-center">
  <ul class="container flex overflow-auto">
    @for (item of sortedData(); track item.position) {
      <li>
        <app-accelerator-item
          [data]="item"
          [isSmall]="isSmall()"
          (click)="action(item.target)"></app-accelerator-item>
      </li>
    }
  </ul>
</section> -->
