<div class="w-full flex justify-center items-center h-full">
  <div
    class="bg-primary p-8 bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 max-w-sm w-full h-auto">
    <form>
      <div class="mb-4">
        <div>
          <label
            for="username"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Username</label
          >
          <input
            type="text"
            id="username"
            class="input-primary"
            placeholder="John"
            required />
        </div>
      </div>

      <div class="mb-4">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Password</label
        >
        <input
          type="password"
          id="password"
          class="input-primary"
          placeholder="•••••••••"
          required />
      </div>

      <button type="submit" class="btn-primary">Login</button>
    </form>

    <div class="flex items-center my-5">
      <div class="flex-1 h-px bg-gray-700"></div>
      <span class="px-4 text-gray-400">or</span>
      <div class="flex-1 h-px bg-gray-700"></div>
    </div>

    <button class="btn-social mb-6">
      <img
        src="https://www.google.com/favicon.ico"
        class="social-icon w-5 h-5 mr-3"
        alt="Google logo" />
      Login with Google
    </button>
    <p class="text-center text-gray-400 text-sm font-medium mt-8">
      Don't have an account?
      <a
        replaceUrl="true"
        [routerLink]="['/auth/register']"
        class="text-blue-600 dark:text-blue-500 hover:underline"
        >Register here</a
      >
    </p>
  </div>
</div>
