<section class="mb-8 px-4 md:px-0">
  <div
    class="mx-auto grid max-w-screen-lg justify-items-center gap-8 md:grid-cols-2">
    <div class="">
      <img
        class=""
        ngSrc="{{ card.imageUrl }}"
        alt="card.name"
        width="500"
        height="300"
        priority />
    </div>

    <div
      class="mt-0 h-fit w-full rounded-lg border border-dragonbane-700 bg-dragonbane-800 p-6 shadow">
      <div class="mb-4 flex items-center justify-between">
        <app-card-type-tag [text]="card.type"></app-card-type-tag>
        <app-favorite-button
          [isFavorite]="card.isFavorite"></app-favorite-button>
      </div>
      <h1 class="text-xl font-semibold text-white sm:text-2xl">
        {{ card.name }}
      </h1>
      <div class="mt-2 space-y-2 border-t border-dragonbane-700 pt-4"></div>
      <p class="mb-6 text-dragonbane-100">
        {{ card.description }}
      </p>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <img
            class="h-10 w-10 rounded-full"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
            alt="" />
          <div class="font-medium text-white">
            <div>Jese Leos</div>
            <div class="text-sm text-dragonbane-400">23 cards</div>
          </div>
        </div>
        <button
          type="button"
          class="inline-flex items-center rounded-lg bg-dragonbane-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-dragonbane-700 focus:outline-none focus:ring-4 focus:ring-dragonbane-300 focus:ring-dragonbane-800">
          <svg
            class="-ms-2 me-2 h-5 w-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4" />
          </svg>

          Download
        </button>
      </div>
    </div>
  </div>
</section>
