<section class="mb-8 px-4 md:px-0">
  <div
    class="mx-auto grid max-w-screen-lg justify-items-center gap-8 md:grid-cols-2">
    <div class="">
      <img
        class=""
        ngSrc="{{ card.imageUrl }}"
        alt="card.name"
        width="500"
        height="300"
        priority />
    </div>

    <div class="mt-0 h-fit w-full rounded-lg bg-hero-dark-700 p-6 shadow">
      <div class="mb-4 flex items-center justify-between">
        <app-card-type-tag [text]="card.type"></app-card-type-tag>
        <app-favorite-button
          [isFavorite]="card.isFavorite"></app-favorite-button>
      </div>
      <h1 class="text-xl font-semibold text-white sm:text-2xl">
        {{ card.name }}
      </h1>
      <div class="mt-2 space-y-2 border-t border-hero-dark-600 pt-4"></div>
      <p class="mb-6 text-hero-light-300">
        {{ card.description }}
      </p>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <img
            class="h-10 w-10 rounded-full"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gough.png"
            alt="" />
          <div class="font-medium text-white">
            <div>Jese Leos</div>
            <div class="text-sm text-hero-light-300">23 cards</div>
          </div>
        </div>
        <app-button
          [text]="'Download'"
          [color]="'primary'"
          [size]="'medium'"
          [iconName]="'download'"></app-button>
      </div>
    </div>
  </div>
</section>
